*{
    margin: 0;
    box-sizing: border-box ;
}
.background-container{
    max-width: 349px;
    margin: auto;
    background-color: rgb(250, 250, 249);
     margin-top: 80px; 
     padding: 20px;
     box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.15), -4px -4px 20px 4px rgba(255, 255, 255, 0.2);
}
.screen-container{
    /* width: 335px;  */
    background-color: rgb(226, 217, 217);
    padding: 10px;
    margin: auto;
    text-align: right;
}
.input-container{
    font-size: 25px;
    overflow: auto;

}
.output-container{
    font-size: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.number-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding-top: 10px;
}
button{
    border: none;
    height: 80px;
    font-size: 30px;
}
.red-text{
    color: rgb(212, 16, 16);
}
.green-text{
    color: darkgreen;
}
.red-text,.green-text{
    background-color: rgb(218, 212, 212);
}



    